[submodule "software-docs-submodule"]
	path = software-docs-submodule
	url = git@github.com:dshoemaker/software-docs-submodule.git
[submodule "systems-docs-submodule"]
	path = systems-docs-submodule
	url = git@github.com:dshoemaker/systems-docs-submodule.git
